<html>
<head>
    {% block stylesheets %}
        <link href="{{ asset('css/backlog.css') }}" rel="stylesheet" />
        <link href="{{ asset('css/twbs/bootstrap.css') }}" rel="stylesheet" />
    {% endblock %}
</head>
<h1 align="center">Backlog</h1>
<br></br>
<table align="center" width='80%' border="1">
<tr bgcolor="#90ee90">

<th>Id</th>
<th>Description</th>
<th>priorite</th>
<th>diffi</th>
    <th>modification</th>
    <th>suppression</th>
</tr>
{%for c in back %}
<tr>
<td>{{c.id}}</td>
<td><a href="#">{{c.descriptionUS}}</a></td>
<td>{{c.priorite}}</td>
<td>{{c.difficulte}}</td>
 <td><center> <a href="edit/{{c.id}}" > <img src="edit.gif'" /> </a></center></td>
    <td><center> <a href="delete/{{c.id}}" > <img src="del.gif" /> </a></center></td>
</tr>

{% endfor %}
   <tr><center> <a href="add" > <button class="btn btn-success" type="submit"> Ajouter une user story</button> </a></center></tr>
<br></br>
</table>
</html>